* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
} /*resetanto estilos*/

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram-box {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 52rem;
    height: 115vh;           
}

.left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.left-box img {
    height: 100vh;
}

.right-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 26rem;
    min-width: 20rem;
    min-height: 34rem;
}

.white-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 22rem;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.white-box:nth-child(1) {
    min-height: 20rem;
    font-weight: 600;
}

.instagram-logo {
    height: 3.5rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {height: 7rem;}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 0.7rem;
}

.not-account {
    color: rgb(160,160,160);
}

.blue-link {
    color: #0095f6;    
}

.get-the-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 0.5rem;
}

.button {
    height: 2.8rem;
}

.app-download {
    width: 10rem;
    height: 3rem;
}

.footer {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.footer-list {
    list-style: none;
}

.about {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 1.1rem;
}

.about-insta {
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 0.85rem;
    font-weight: 500;
}

.copyright {
    font-size: 0.85rem;
    color: rgba(var(--f52,142,142,142),1);
}

/*responsividade*/

@media (max-width: 875px) {
    
    
    .instagram-box  {
        width: 90%;
        height: 90%;
    }
    
    .left-box {
        display: none;
    }

    .right-box {
        width: 100%;
    }

    .footer {
        width: 28rem;
        text-align: center;
    }

}

@media (max-width: 450px) {

    .white-box {
        border-color: transparent;
        background-color: transparent;
    }
    
}